
.button-group.filter-button-group#city-buttons
	%button{'data-filter': '*'} Show All
	%button{'data-filter': '.san_juan'} San Juan
	%button{'data-filter': '.panama_city'} Panama City
	%button{'data-filter': '.buenos_aires'} Buenos Aires
	%button{'data-filter': '.mexico_city'} Mexico City
	%button{'data-filter': '.barcelona'} Barcelona
	%button{'data-filter': '.são_paulo'} São Paulo
	%button{'data-filter': '.brooklyn'} Brooklyn


#pins.transitions-enabled
	- @pins.each do |pin|
		.box.panel.panel-default{:class => pin.city.split.map(&:downcase).join('_')  }
			= link_to (image_tag pin.image.url), pin
			%h2= link_to pin.title, pin

